<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="readings">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Readings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="more"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
